<div class="col-sm-2 sidenav">
  <div *ngIf="cart.length > 0">
    <h3 class="text-center">Cart</h3>
    <ul class="list-group">
      <li *ngFor="let item of cart">
        <!-- <img src="{{ item.image }}" width="50" height="50" class="rounded-circle mr-3"> -->
        <div class="list-group-item">
          <h5 class="list-group-item-heading">{{ item.desc }}</h5>
          <p class="list-group-item-text">Price: {{ item.price }}</p>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="cart.length === 0">
    <p class="text-center">Cart is empty.</p>
  </div>
  <button (click)="checkOut()">Checkout</button>

  </div>
